__pycache__/
*.py[cod]

.venv/
.build_venv/
venv/
env/

data/
logs/
reports/
build/
dist/
*.spec

*_cookies.json
*.cookie
notify_config.json

chrome_*_profile/
edge_*_profile/
*_out.log
*_err.log
*.log
